table.game-board {
    border-collapse: collapse;
    --line-width: 5px;
    border-spacing: 2px;
}
table.game-board td {
    padding: 0;
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: relative;
    border: solid black 1px;
    text-align: center;
    font-size: 120%;
    font-family: sans-serif;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

tr {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.collapsible {
    background-color: lightgrey;
    color: white;
    cursor: pointer;
    padding: 11px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: white;
  }